In [1]:
import pickle
import random
import pandas as pd
import numpy as np
import timeit
import time

# temp_list = list()
# a = list(np.random.randint(2, size=profile_size-1))

# a.append(random.uniform(0,1))
# print len(a)
# user_mean = ratings.groupby('userid').mean()['rating']
# print len(user_mean)

In [2]:
#ratings = pd.read_csv("ml-20m/Training/train.csv",header=0)
split1 = pd.read_csv("ml-20m/Training/split_1.csv",header=None)
split2 = pd.read_csv("ml-20m/Training/split_2.csv",header=None)
split3 = pd.read_csv("ml-20m/Training/split_3.csv",header=None)

In [3]:
len(split1) + len(split2) + len(split3)

12080028

In [4]:
df = pd.concat([split1,split2,split3])
len(df)
df.columns = ['userId', 'movieId','rating']
df.to_csv('ml-20m/Training/train.csv')
ratings = pd.read_csv("ml-20m/Training/train.csv")

In [5]:
ratings.head()
#type(ratings['userId'])

   Unnamed: 0  userId  movieId  rating
0           0       1      588     3.5
1           1       1     5581     3.5
2           2       1     2055     4.0
3           3       1     2862     3.5
4           4       1     1219     3.5

In [6]:
shape = ratings.shape

In [7]:
ratings_length = shape[0]
print(ratings_length)

features = pd.read_csv("feature_list.csv",header=None)
w_genre = 2
w_cast = 1
w_director = 1
w_rating = 2
weights = []
for i in range(1757):
    if features[i].values[0].strip("()").split(",")[0].strip("''") == 'genre':
        weights.append(w_genre)
    elif features[i].values[0].strip("()").split(",")[0].strip("''") == 'cast':
        weights.append(w_cast)
    elif features[i].values[0].strip("()").split(",")[0].strip("''") == 'director':
        weights.append(w_director)
    else:
        weights.append(w_rating)

weights_arr = np.array(weights)
print len(weights)
print weights_arr[0]
print weights_arr[-1]

12080028
1757
2
2

In [8]:
profile_size = 1757

In [9]:
user_mean = ratings.groupby('userId').mean()['rating']

In [10]:
len(user_mean)

138493

In [11]:
print(user_mean.head())
user_mean[4]

userId
1    3.714286
2    4.000000
3    4.159292
4    3.666667
5    4.225000
Name: rating, dtype: float64

3.6666666666666665

In [12]:
pickle_in = open("new_item_profiles.pickle", "rb")
movie_dict = pickle.load(pickle_in)

In [13]:
len(movie_dict)
print (movie_dict[1])

[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.8300000000000001]

In [14]:
user_profile_dict = {}
user_weights_denom = {}
#start = time.clock()
start1 = time.asctime()

In [15]:
user_data = ratings[['userId','movieId']]

In [16]:
user_data.head()

   userId  movieId
0       1      588
1       1     5581
2       1     2055
3       1     2862
4       1     1219

In [17]:
user_data = user_data.to_dict()

In [18]:
f = open('ml-20m/Training/train.csv','r')
user_data = {}
g = f.readlines()[1:]
for l in g:
#     print l.strip().split()
    temp,user,item,rating = l.strip().split(',')
    if int(user) not in user_data:
        user_data[int(user)]= []
    user_data[int(user)].append((int(item),float(rating)))

In [19]:
print len(user_data),user_data[1]
# user_data = {k:(g['movieId'],g['rating']).tolist() for k,g in ratings.groupby('userId')}
# x = ratings.apply(lambda x : reducer(x,user_data))
#x.indices

138493 [(588, 3.5), (5581, 3.5), (2055, 4.0), (2862, 3.5), (1219, 3.5), (7053, 3.5), (3391, 4.0), (6934, 3.5), (1293, 4.0), (1533, 3.5), (2560, 3.5), (1170, 3.5), (6725, 3.5), (3067, 4.0), (1213, 4.0), (251, 4.0), (6144, 3.5), (2874, 4.0), (3388, 3.5), (7276, 3.5), (2060, 4.0), (2915, 3.5), (7770, 4.0), (6393, 3.5), (1305, 4.0), (9754, 4.0), (7840, 3.5), (32, 3.5), (334, 3.5), (4944, 4.0), (3179, 3.5), (2944, 3.0), (7313, 4.0), (4945, 3.0), (7278, 4.0), (291, 4.0), (4133, 3.5), (5051, 3.5), (2, 3.5), (4373, 4.0), (8279, 4.0), (4931, 4.0), (4477, 4.0), (2458, 4.0), (1687, 3.5), (3904, 3.5), (5995, 4.0), (1231, 4.0), (4626, 3.5), (4885, 3.5), (7136, 3.5), (7954, 4.5), (1319, 3.5), (50, 3.5), (3903, 4.0), (1018, 4.0), (5800, 3.5), (1276, 3.0), (2787, 4.0), (646, 3.0), (1190, 4.0), (1766, 3.5), (1174, 4.5), (6698, 3.5), (5444, 4.0), (6645, 4.0), (111, 3.5), (2607, 3.5), (1177, 3.0), (4212, 4.0), (4783, 3.5), (1884, 4.0), (8008, 3.5), (2017, 4.0), (908, 3.5), (2676, 3.0), (6235, 4.0), (2110, 4.0), (2951, 3.5), (2563, 3.5), (1232, 4.0), (221, 4.0), (1264, 3.5), (1938, 4.0), (294, 4.0), (2883, 4.0), (5854, 5.0), (1239, 4.0), (4659, 4.0), (1216, 3.0), (4801, 4.0), (6646, 3.5), (2719, 3.5), (1479, 3.0), (538, 4.0), (1192, 3.5), (2207, 4.0), (5901, 3.5), (1068, 3.5), (4012, 3.5), (2579, 3.5), (3797, 4.0), (1321, 3.5), (1189, 4.0), (1058, 4.0)]

In [20]:
c = 0
temp = {}
start = time.time()
for user in user_data:
    t = 0
    c+=1
    if c%1000==0:
        end = time.time()
        print c,(end-start)*1.0/c
    for l in user_data[user]:
        t+=1
        if user not in temp:
            temp[user] = (l[1] - user_mean[user])*np.array(movie_dict[l[0]])
            temp[user] = np.multiply(weights_arr,temp[user])
        else:
            temp[user] += (l[1] - user_mean[user])*np.array(movie_dict[l[0]])
            temp[user] = np.multiply(weights_arr,temp[user])
            
    temp[user] = temp[user]/t
    temp[user] = temp[user].round(4)
    temp[user] = list(temp[user])

/Users/chintu/anaconda2/envs/personalization/lib/python2.7/site-packages/ipykernel_launcher.py:17: RuntimeWarning: overflow encountered in multiply

1000 0.0117821691036
2000 0.0112584365606
3000 0.0114681780338

/Users/chintu/anaconda2/envs/personalization/lib/python2.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: overflow encountered in multiply

4000 0.0119972477555
5000 0.0121649264336
6000 0.0119952795108
7000 0.0118527944429
8000 0.0117551471293
9000 0.0118248900043
10000 0.0119534815073
11000 0.011989678643
12000 0.0119355170131
13000 0.0120065000057
14000 0.0121193604299
15000 0.0121212202708
16000 0.0122393631935
17000 0.0122273757177
18000 0.0121772823334
19000 0.012197513116
20000 0.0121559924603
21000 0.0121017998173
22000 0.0121710520549
23000 0.0122113916563
24000 0.0122920549611
25000 0.0123571107197
26000 0.0123904999311
27000 0.0124559637794
28000 0.0125939522215
29000 0.0125956075931
30000 0.0126003099998
31000 0.0125966317807
32000 0.0125889295936
33000 0.0126520103686
34000 0.0126770302688
35000 0.0128033093997
36000 0.0128370800018
37000 0.0128093903838
38000 0.0127824481349
39000 0.0127578072365
40000 0.0127364674747
41000 0.0127203374665
42000 0.0127061439298
43000 0.0127241212102
44000 0.0127166610035
45000 0.0126811184035
46000 0.0126696614597
47000 0.0126507212355
48000 0.012617253979
49000 0.0125969571045
50000 0.0125712069798
51000 0.0125642926085
52000 0.0125555616159
53000 0.0125655311324
54000 0.0125340696132
55000 0.0125262473843
56000 0.0125180520032
57000 0.0124788764067
58000 0.0124531612766
59000 0.0124213805441
60000 0.0124057167172
61000 0.0123784531179
62000 0.0123639377932
63000 0.0180001372383
64000 0.0179461348616
65000 0.0178558902777
66000 0.0177644819419
67000 0.0176892960926
68000 0.0176174530001
69000 0.0175866165368
70000 0.0175295867886
71000 0.0174628201001
72000 0.0173911397788
73000 0.0173147152058
74000 0.0172322390144
75000 0.017172787536
76000 0.0171074944766
77000 0.0170515806892
78000 0.0169932289368
79000 0.016933064165
80000 0.0168685909897
81000 0.0168130002728
82000 0.0167569324272
83000 0.0166917562169
84000 0.0166306415371
85000 0.0165785077768
86000 0.0165256037684
87000 0.0164937494157
88000 0.0164527289217
89000 0.0164149108656
90000 0.016396645334
91000 0.0163522081218
92000 0.0163043898914
93000 0.0162592539044
94000 0.0162148364377
95000 0.0161723640643
96000 0.0161289767499
97000 0.0160861070107
98000 0.0160510298281
99000 0.0160055395666
100000 0.0159607628012
101000 0.015922191863
102000 0.0158846294623
103000 0.0158482552339
104000 0.0158189212405
105000 0.0157721399148
106000 0.0157298250851
107000 0.0156930944028
108000 0.015659564186
109000 0.0156249710551
110000 0.0155853064472
111000 0.0155489518922
112000 0.0155119101895
113000 0.0154743405486
114000 0.0154451004141
115000 0.0154196854177
116000 0.0153815060258
117000 0.0153458853603
118000 0.0153095259848
119000 0.0152876817238
120000 0.0152792278012
121000 0.0152585203805
122000 0.0152363932797
123000 0.0152214227169
124000 0.0151985591862
125000 0.0151757564735
126000 0.0151580393655
127000 0.0151294572222
128000 0.0151907591335
129000 0.0151691210233
130000 0.0151478517697
131000 0.0151358553362
132000 0.0151281298941
133000 0.0151033759924
134000 0.0150781595387
135000 0.015062117015
136000 0.0150391739204
137000 0.0150200722635
138000 0.0150011223624

In [ ]:
import time
start = time.time()
for i in range(0,ratings_length):
    if i%10000==0 and i>0:
        end = time.time()
        print i,(end-start)*1.0/i
    #start.append(timeit.timeit())
    uid = ratings['userId'][i]
    #print(type(uid))
    #print(uid)
    if uid not in user_profile_dict.keys():
        user_profile_dict[uid] = (ratings['rating'][i] - user_mean[uid])*np.array(movie_dict[ratings['movieId'][i]]) 
        user_weights_denom[uid] = 1
    else:
        user_profile_dict[uid] = (ratings['rating'][i] - user_mean[uid])*np.array(movie_dict[ratings['movieId'][i]]) + user_profile_dict[uid]
        user_weights_denom[uid] += 1
    
#     user_profile_dict[uid] = list(temp_array)
    #end.append(timeit.timeit())

In [ ]:
for i in user_profile_dict.keys():
    user_profile_dict[i] = list(np.array(user_profile_dict[i]) / user_weights_denom[i])

In [ ]:
#end = time.clock()
end1 = time.asctime()
user_profile_dict
len(user_profile_dict)

In [21]:
#end-start

In [22]:
start1

'Tue Dec 12 12:08:05 2017'

In [23]:
end1

'Tue Dec 12 12:08:10 2017'

In [ ]:
# for l in temp:
#     print temp[l]
import sys
print sys.getsizeof(temp)

In [25]:
start2 = time.asctime()

In [ ]:
pickle_out3 = open("user_profiles_g_2_a_1_d_1_r_2.pickle", "wb")
pickle.dump(temp, pickle_out3)
pickle_out3.close()

In [27]:
end2 = time.asctime()

In [28]:
start2
end2

'Tue Dec 12 12:08:31 2017'

In [29]:
user_profile_dict[1][-1]

-0.049000000000000099